// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for the Gemini-based Raidsonic NAS IB-4220-B
 */

/dts-v1/;

#include "gemini.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "Raidsonic NAS IB-4220-B";
	compatible = "raidsonic,ib-4220-b", "cortina,gemini";
	#address-cells = <1>;
	#size-cells = <1>;

	memory@0 { /* 128 MB */
		device_type = "memory";
		reg = <0x00000000 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS0,19200n8 root=/dev/sda1 rw rootwait";
		stdout-path = &uart0;
	};

	gpio_keys {
		compatible = "gpio-keys";

		button-setup {
			debounce-interval = <100>;
			wakeup-source;
			linux,code = <KEY_SETUP>;
			label = "Backup button";
			/* Conflict with TVC */
			gpios = <&gpio1 29 GPIO_ACTIVE_LOW>;
		};
		button-restart {
			debounce-interval = <100>;
			wakeup-source;
			linux,code = <KEY_RESTART>;
			label = "Softreset button";
			/* Conflict with TVC */
			gpios = <&gpio1 31 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led-orange-hdd {
			label = "nas4220b:orange:hdd";
			/* Conflict with TVC */
			gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		led-green-os {
			label = "nas4220b:green:os";
			/* Conflict with TVC */
			gpios = <&gpio1 30 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	mdio0: mdio {
		compatible = "virtual,mdio-gpio";
		gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>, /* MDC */
			<&gpio0 21 GPIO_ACTIVE_HIGH>; /* MDIO */
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@1 {
			reg = <1>;
			device_type = "ethernet-phy";
		};
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		/* Period "one millisecond" */
		pwms = <&pwm0 0 10000000 0>;
		cooling-levels = <0 16 32 48 64 80 96 112 127>;
		status = "disabled";
	};

	thermal-zones {
		chassis-thermal {
			/* Poll every 20 seconds */
			polling-delay = <20000>;
			/* Poll every 2nd second when cooling */
			polling-delay-passive = <2000>;
			/*  Use the thermal sensor in the hard drive(s) */
			thermal-sensors = <&drive0>, <&drive1>;

			/* Tripping points from the fan.script in the rootfs */
			trips {
				alert0: chassis-alert-0 {
					/* At 39 degrees turn on the fan */
					temperature = <39000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert1: chassis-alert-1 {
					/* Increase 2 degrees for each bump */
					temperature = <41000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert2: chassis-alert-2 {
					/* Increase 2 degrees for each bump */
					temperature = <43000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert3: chassis-alert-3 {
					/* Increase 2 degrees for each bump */
					temperature = <45000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert4: chassis-alert-4 {
					/* Increase 2 degrees for each bump */
					temperature = <47000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert5: chassis-alert-5 {
					/* Increase 2 degrees for each bump */
					temperature = <49000>;
					hysteresis = <1000>;
					type = "active";
				};
				alert6: chassis-alert-6 {
					/* Increase 2 degrees for each bump */
					temperature = <51000>;
					hysteresis = <1000>;
					type = "active";
				};
				crit: chassis-crit {
					/* Just shut down at 60 degrees */
					temperature = <60000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&alert0>;
					cooling-device = <&fan0 0 1>;
				};
				map1 {
					trip = <&alert1>;
					cooling-device = <&fan0 1 2>;
				};
				map2 {
					trip = <&alert2>;
					cooling-device = <&fan0 2 3>;
				};
				map3 {
					trip = <&alert3>;
					cooling-device = <&fan0 3 4>;
				};
				map4 {
					trip = <&alert4>;
					cooling-device = <&fan0 4 5>;
				};
				map5 {
					trip = <&alert5>;
					cooling-device = <&fan0 5 6>;
				};
				map6 {
					trip = <&alert6>;
					cooling-device = <&fan0 7 8>;
				};
			};
		};
	};

	soc {
		flash@30000000 {
			status = "okay";
			/* 16MB of flash */
			reg = <0x30000000 0x01000000>;

			partitions {
				compatible = "redboot-fis";
				/* Eraseblock at 0xfe0000 */
				fis-index-block = <0x7f>;
			};
		};

		syscon: syscon@40000000 {
			pinctrl {
				/*
				 * gpio1dgrp cover line 28-31 otherwise used
				 * by TVC.
				 */
				gpio1_default_pins: pinctrl-gpio1 {
					mux {
						function = "gpio1";
						groups = "gpio1dgrp";
					};
				};
				pinctrl-gmii {
					mux {
						function = "gmii";
						groups = "gmii_gmac0_grp";
					};
					/* Settings come from OpenWRT, pins on SL3516 */
					conf0 {
						pins = "V8 GMAC0 RXDV", "T10 GMAC1 RXDV";
						skew-delay = <0>;
					};
					conf1 {
						pins = "Y7 GMAC0 RXC", "Y11 GMAC1 RXC";
						skew-delay = <15>;
					};
					conf2 {
						pins = "T8 GMAC0 TXEN", "W11 GMAC1 TXEN";
						skew-delay = <7>;
					};
					conf3 {
						pins = "U8 GMAC0 TXC";
						skew-delay = <11>;
					};
					conf4 {
						pins = "V11 GMAC1 TXC";
						skew-delay = <10>;
					};
					conf5 {
						/* The data lines all have default skew */
						pins = "W8 GMAC0 RXD0", "V9 GMAC0 RXD1",
						       "Y8 GMAC0 RXD2", "U9 GMAC0 RXD3",
						       "T7 GMAC0 TXD0", "U6 GMAC0 TXD1",
						       "V7 GMAC0 TXD2", "U7 GMAC0 TXD3",
						       "Y12 GMAC1 RXD0", "V12 GMAC1 RXD1",
						       "T11 GMAC1 RXD2", "W12 GMAC1 RXD3",
						       "U10 GMAC1 TXD0", "Y10 GMAC1 TXD1",
						       "W10 GMAC1 TXD2", "T9 GMAC1 TXD3";
						skew-delay = <7>;
					};
					/* Set up drive strength on GMAC0 to 16 mA */
					conf6 {
						groups = "gmii_gmac0_grp";
						drive-strength = <16>;
					};
				};
			};
		};

		sata: sata@46000000 {
			cortina,gemini-ata-muxmode = <0>;
			cortina,gemini-enable-sata-bridge;
			status = "okay";
		};

		pwm0: spi@4a000000 {
			status = "okay";
			#pwm-cells = <3>;
		};

		gpio1: gpio@4e000000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gpio1_default_pins>;
		};

		ethernet@60000000 {
			status = "okay";

			ethernet-port@0 {
				phy-mode = "rgmii";
				phy-handle = <&phy0>;
			};
			ethernet-port@1 {
				/* Not used in this platform */
			};
		};

		ide@63000000 {
			status = "okay";
			drive0: ide-port@0 {
				reg = <0>;
				#thermal-sensor-cells = <0>;
			};
		};

		ide@63400000 {
			status = "okay";
			drive1: ide-port@0 {
				reg = <0>;
				#thermal-sensor-cells = <0>;
			};
		};

		usb@68000000 {
			status = "okay";
		};

		usb@69000000 {
			status = "okay";
		};
	};
};
