// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 Broadcom Ltd.
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "brcm,bcm6846", "brcm,bcmbca";
	#address-cells = <1>;
	#size-cells = <1>;

	interrupt-parent = <&gic>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		CA7_0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
			next-level-cache = <&L2_0>;
			enable-method = "psci";
		};

		CA7_1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x1>;
			next-level-cache = <&L2_0>;
			enable-method = "psci";
		};

		L2_0: l2-cache0 {
			compatible = "cache";
			cache-level = <2>;
			cache-unified;
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			<GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			<GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			<GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>;
		arm,cpu-registers-not-fw-configured;
	};

	pmu: pmu {
		compatible = "arm,cortex-a7-pmu";
		interrupts = <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&CA7_0>, <&CA7_1>;
	};

	clocks: clocks {
		periph_clk: periph-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <200000000>;
		};

		hsspi_pll: hsspi-pll {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <400000000>;
		};
	};

	psci {
		compatible = "arm,psci-0.2";
		status = "disabled";
		method = "smc";
		cpu_off = <0x01>;
		cpu_on = <0x02>;
	};

	axi@81000000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0x81000000 0x8000>;

		gic: interrupt-controller@1000 {
			compatible = "arm,cortex-a7-gic";
			#interrupt-cells = <3>;
			interrupt-controller;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>;
			reg = <0x1000 0x1000>,
				<0x2000 0x2000>,
				<0x4000 0x2000>,
				<0x6000 0x2000>;
		};
	};

	bus@ff800000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0xff800000 0x800000>;

		watchdog@480 {
			compatible = "brcm,bcm6345-wdt";
			reg = <0x480 0x10>;
		};

		/* GPIOs 0 .. 31 */
		gpio0: gpio@500 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x500 0x04>, <0x520 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 32 .. 63 */
		gpio1: gpio@504 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x504 0x04>, <0x524 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 64 .. 95 */
		gpio2: gpio@508 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x508 0x04>, <0x528 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 96 .. 127 */
		gpio3: gpio@50c {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x50c 0x04>, <0x52c 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 128 .. 159 */
		gpio4: gpio@510 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x510 0x04>, <0x530 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 160 .. 191 */
		gpio5: gpio@514 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x514 0x04>, <0x534 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 192 .. 223 */
		gpio6: gpio@518 {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x518 0x04>, <0x538 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		/* GPIOs 224 .. 255 */
		gpio7: gpio@51c {
			compatible = "brcm,bcm6345-gpio";
			reg = <0x51c 0x04>, <0x53c 0x04>;
			reg-names = "dirout", "dat";
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		pinctrl@550 {
			compatible = "brcm,bcm6846-pinctrl";
			reg = <0x550 0x10>;

			pins_led_0_a: led-0-a-pins {
				function = "led_0";
				groups = "led_0_grp_a";
			};

			pins_led_0_b: led-0-b-pins {
				function = "led_0";
				groups = "led_0_grp_b";
			};

			pins_led_1_a: led-1-a-pins {
				function = "led_1";
				groups = "led_1_grp_a";
			};

			pins_led_1_b: led-1-b-pins {
				function = "led_1";
				groups = "led_1_grp_b";
			};

			pins_led_2_a: led-2-a-pins {
				function = "led_2";
				groups = "led_2_grp_a";
			};

			pins_led_2_b: led-2-b-pins {
				function = "led_2";
				groups = "led_2_grp_b";
			};

			pins_led_3_a: led-3-a-pins {
				function = "led_3";
				groups = "led_3_grp_a";
			};

			pins_led_3_b: led-3-b-pins {
				function = "led_3";
				groups = "led_3_grp_b";
			};

			pins_led_4_a: led-4-a-pins {
				function = "led_4";
				groups = "led_4_grp_a";
			};

			pins_led_4_b: led-4-b-pins {
				function = "led_4";
				groups = "led_4_grp_b";
			};

			pins_led_5_a: led-5-a-pins {
				function = "led_5";
				groups = "led_5_grp_a";
			};

			pins_led_5_b: led-5-b-pins {
				function = "led_5";
				groups = "led_5_grp_b";
			};

			pins_led_6_a: led-6-a-pins {
				function = "led_6";
				groups = "led_6_grp_a";
			};

			pins_led_6_b: led-6-b-pins {
				function = "led_6";
				groups = "led_6_grp_b";
			};

			pins_led_7_a: led-7-a-pins {
				function = "led_7";
				groups = "led_7_grp_a";
			};

			pins_led_7_b: led-7-b-pins {
				function = "led_7";
				groups = "led_7_grp_b";
			};

			pins_led_8_a: led-8-a-pins {
				function = "led_8";
				groups = "led_8_grp_a";
			};

			pins_led_8_b: led-8-b-pins {
				function = "led_8";
				groups = "led_8_grp_b";
			};

			pins_led_9_a: led-9-a-pins {
				function = "led_9";
				groups = "led_9_grp_a";
			};

			pins_led_9_b: led-9-b-pins {
				function = "led_9";
				groups = "led_9_grp_b";
			};

			pins_led_10_a: led-10-a-pins {
				function = "led_10";
				groups = "led_10_grp_a";
			};

			pins_led_10_b: led-10-b-pins {
				function = "led_10";
				groups = "led_10_grp_b";
			};

			pins_led_11_a: led-11-a-pins {
				function = "led_11";
				groups = "led_11_grp_a";
			};

			pins_led_11_b: led-11-b-pins {
				function = "led_11";
				groups = "led_11_grp_b";
			};

			pins_led_12_a: led-12-a-pins {
				function = "led_12";
				groups = "led_12_grp_a";
			};

			pins_led_12_b: led-12-b-pins {
				function = "led_12";
				groups = "led_12_grp_b";
			};

			pins_led_13: led-13-pins {
				function = "led_13";
				groups = "led_13_grp";
			};

			pins_led_14: led-14-pins {
				function = "led_14";
				groups = "led_14_grp";
			};

			pins_led_15: led-15-pins {
				function = "led_15";
				groups = "led_15_grp";
			};

			pins_led_16: led-16-pins {
				function = "led_16";
				groups = "led_16_grp";
			};

			pins_led_17: led-17-pins {
				function = "led_17";
				groups = "led_17_grp";
			};

			/* Using pins 18, 24, 25 */
			pins_ser_led_a: ser-led-a-pins {
				function = "ser_led";
				groups = "ser_led_grp_a";
			};

			/* Using pins 43, 44, 45 */
			pins_ser_led_b: ser-led-b-pins {
				function = "ser_led";
				groups = "ser_led_grp_b";
			};

			pins_nand: nand-pins {
				function = "nand";
				groups = "nand_ctrl_grp", "nand_data_grp";
			};

			/* Including the Write Protect pin */
			pins_nand_wp: nand-wp-pins {
				function = "nand";
				groups = "nand_ctrl_grp", "nand_data_grp", "nand_wp_grp";
			};

			pins_i2c: i2c-pins {
				function = "i2c";
				groups = "i2c_grp";
			};

			pins_mii: mii-pins {
				function = "mii";
				groups = "mii_grp";
			};

			/*
			 * Configs adding rx ok and start stop pins can be made, usually
			 * we just want plain RGMII.
			 */
			pins_rgmii: rgmii-pins {
				function = "rgmii";
				groups = "rgmii_grp";
			};

			pins_rogue_onu_a: rogue-onu-a-pins {
				function = "rogue_onu";
				groups = "rogue_onu_grp_a";
			};

			pins_rogue_onu_b: rogue-onu-b-pins {
				function = "rogue_onu";
				groups = "rogue_onu_grp_b";
			};

			/*
			 * More elaborate WAN groups can be constructed for special cases
			 * usually we just want to access MDIO.
			 */
			pins_wan_mdio: wan-mdio-pins {
				function = "wan";
				groups = "wan_mdio_grp";
			};

		};

		uart0: serial@640 {
			compatible = "brcm,bcm6345-uart";
			reg = <0x640 0x1b>;
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&periph_clk>;
			clock-names = "refclk";
			status = "disabled";
		};

		rng@b80 {
			compatible = "brcm,iproc-rng200";
			reg = <0xb80 0x28>;
			interrupts = <GIC_SPI 85 IRQ_TYPE_LEVEL_HIGH>;
		};

		leds: led-controller@800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "brcm,bcm63138-leds";
			reg = <0x800 0xdc>;
			status = "disabled";
		};

		hsspi: spi@1000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "brcm,bcm6846-hsspi", "brcm,bcmbca-hsspi-v1.0";
			reg = <0x1000 0x600>;
			interrupts = <GIC_SPI 37 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&hsspi_pll &hsspi_pll>;
			clock-names = "hsspi", "pll";
			num-cs = <8>;
			status = "disabled";
		};

		nand_controller: nand-controller@1800 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "brcm,nand-bcm63138", "brcm,brcmnand-v7.1", "brcm,brcmnand";
			reg = <0x1800 0x600>, <0x2000 0x10>;
			reg-names = "nand", "nand-int-base";
			status = "disabled";

			nandcs: nand@0 {
				compatible = "brcm,nandcs";
				reg = <0>;
			};
		};

		mdio: mdio@2060 {
			compatible = "brcm,bcm6846-mdio";
			reg = <0x02060 0x10>, <0x5a068 0x4>;
			reg-names = "mdio", "mdio_indir_rw";
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pins_wan_mdio>;
			status = "disabled";
		};

		i2c0: i2c@2100 {
			compatible = "brcm,brcmper-i2c";
			reg = <0x2100 0x60>;
			interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock-frequency = <97500>;
			pinctrl-names = "default";
			pinctrl-0 = <&pins_i2c>;
			status = "disabled";
		};

		pl081_dma: dma-controller@59000 {
			compatible = "arm,pl081", "arm,primecell";
			// The magic B105F00D info is missing
			arm,primecell-periphid = <0x00041081>;
			reg = <0x59000 0x1000>;
			interrupts = <GIC_SPI 94 IRQ_TYPE_LEVEL_HIGH>;
			memcpy-burst-size = <256>;
			memcpy-bus-width = <32>;
			clocks = <&periph_clk>;
			clock-names = "apb_pclk";
			#dma-cells = <2>;
		};
	};
};
